$fondo1: #2C3331;
$fondo2: #37504A;
$fondo3: #407A6D;
$fondo4: #3AA58c;
$fondo5: #1DB592;
$fondo6: #05FAC1;
$fuente_principal: 'Montserrat', sans-serif;

* {
    font-style: $fuente_principal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-weight: bold;
    display: inline;
}

h6 {
    font-size: 20px;
}

h5 {
    font-size: 23px;
}

h4 {
    font-size: 27px;
}

h3 {
    font-size: 33px;
}

h2 {
    font-size: 40px;
}

h1 {
    font-size: 47px;
}

/*
::-webkit-scrollbar{
    width: 0px;
}*/
body {
    height: 100vh;
    width: 100%;
    background-color: $fondo1;
    color: #eee;
}

.container-form {
    display: flex;
    justify-content: center;
    margin-top: 15vh;

    label {
        font-size: 20px;
    }

    .form {
        box-shadow: 6px 6px #fff7;
        margin: 20px;
        padding: 20px;
        border-radius: 20px;
        background-color: $fondo3;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        .fuente-destino{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            flex-direction: row;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            margin: 12px 0;
            align-items: center;
            max-width: 100%;
            
            input {
                height: 50px;
                color: #333;
                border: 1px solid #dadede;
                border-radius: 8px;
                padding: 0 24px;
                margin: 6px 10px;
                background-color: #dadede;
                font-size: 20px;
                outline: none;
                max-width: 100%;
            }

            textarea {
                font-size: 20px;
                outline: none;
                background-color: #ddd;
                resize: none;
                width: 50%;
                border-radius: 20px;
                padding: 10px;
                margin: 6px 0;
            }

        }

        button {
            width: 60%;
            max-width: 400px;
            height: 60px;
            background: $fondo5;
            border: 0;
            border-radius: 10px;
            color: $fondo1;
            font-weight: 700;
            margin: 16px auto;
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            line-height: 60px;
            box-shadow: 0px 4px 6px #2522229d;
            cursor: pointer;
            &:hover {
                background-color: $fondo6;
            }
        }

    }
}


.header {
    height: 10vh;
    background-color: $fondo2;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    div {
        letter-spacing: 2px;
        color: #ddd;
        font-size: 30px;
        font-weight: bold;

    }
}

.footer {
    height: 10vh;
    background-color: $fondo2;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    flex-wrap: wrap;
    margin-top: 40vh;

    div {
        margin: 5px;
        letter-spacing: 2px;
        color: #ddd;
        font-size: 10px;
        font-weight: bold;

    }
}

.visible {
    margin: 10px;
}